body {
    background-color: #944;
    background-color: #01014b;
    color: #ccc;
}

svg {
    background-color: #ddf;
    border: solid black 0.3em; 
    border-radius: 0.5em;
    cursor: crosshair;
}

#svg-container {
    display: inline;
}

.control-panel {
    font-family: sans-serif;
    background-color: #aaa;
    color: #000;
    padding: 2em;
    border-radius: 1em;
    width: 40%;
    float: right;
}

#values label, #shapes label {
    display: block;
}

#values>label>div {
    display: inline-block;
    width: 7em;
}

#instructions ul {
    list-style-type: none;
}

#instructions {
    float: right;
}

label:hover {
    font-weight: bold;
}

input[type=color] {
    width: 10em;
}

.with-selected {
}
